body {
background-color:#B0E0E6; 
margin-right: 5px; 
margin-left:  20px;
}
ul {
  display: table;
  margin: 0 auto;
}

.meio{
text-align:center;
list-style-position: inside;
font-size : 16px;
}
#unik {
  color: #e75480;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
  width: auto;
}
h1{
text-align : center;
}
